@media(max-width: 1200px) {
    .carousel-ts {
        .container {
            width: 80vw;
        }
        &__inner {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 999px) {
    .promo, .consultation, .feedback {
        padding-left: 20px;
        padding-right: 20px;
    }
    .catalog {
        &__content {
            &_active {
                justify-content: center;
            }
        }
        &__card {
            margin: 0 20px 20px 20px;
        }
    }
    .footer {
        height: 470px;
        &__contacts {
            padding: 30px 0 30px;
            height: 220px;
            width: 400px;
        }
    }
}

@media (max-width: 780px) {
    .header__official {
        display: none;
    }
    .advantages__wrapper {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages {
        &__item:first-child {
            margin-right: 45px;
        }
        &__item:last-child {
            margin-top: 30px;
        }
    }
    .consultation {
        padding-top: 50px;
        padding-bottom: 40px;
        &__subheader {
            font-size: 24px;
        }
        &__descr {
            font-size: 18px;
            margin-top: 52px;
        }
    }
    .carousel-ts {
        width: 100vw;
        button.prev {
            display: none;
        }
        .prev, .next {
            display: none; 
        }
    }
    .catalog__tab {
        width: 170px;
        &:hover {
            box-shadow: none;
        }
    }
    .button {
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
    .footer {
        &__map{
            iframe {
                height: 70vw;
            }
        }
        &__contacts {
            top: 70vw;
        }
    }
    
}

@media (max-width: 575px) {
    .title {
        font-size: 26px;
    }
    .header {
        &__contact {
            margin-top: 25px;
        }
        &_btn {
            margin-top: 20px;
        }
    }
    .promo {
        &__header {
            font-size: 30px;
            margin: 0 auto;
        }
        &__subheader {
            font-size: 19px;
            margin: 17px auto 0 auto;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__item:first-child {
            margin-right: 0;
        }
        &__item:nth-child(2) {
            margin-top: 30px;
        }
    }
    .feedback {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__name {
            margin-top: 20px;
            text-align: center;
        }
        &__img {
            margin-right: 0;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            margin-top: 12px;
        }
    }
}

@media (max-width: 460px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .promo {
        padding-bottom: 50px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            margin-top: 50px;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__item:nth-child(2) {
            margin-top: 30px;
        }
        &__item:last-child {
            margin-top: 30px;
        }
        &__descr {
            margin-top: 13px;
        }
        &_btn {
            margin: 50px auto 0;
            width: 280px;
        }
    }
    .advantages {
        padding-bottom: 50px;
        &__subheader {
            font-size: 23px;
        }
    }
    .footer {
        &__contacts {
            width: 100%;
        }
        &__addr, &__phone {
            font-size: 16px;
        }
    }
}

@media (max-width: 360px) {
    .promo {
        &_btn {
            margin: 50px auto 0;
            width: 280px;
        }
    }
    .advantages {
        &__subheader {
            font-size: 23px;
        }
    }
    .consultation {
        &__subheader {
            font-size: 18px;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .form__feed {
        width: 260px;
    }
}