@media(max-width: 1200px) {
    .carousel-ts {
        .container {
            width: 80vw;
        }
        &__inner {
            width: 80%;
            img {
                width: 100%;
            }
        }
    }
}
@media (max-width: 999px) {
    .promo, .consultation {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 780px) {
    .header__official {
        display: none;
    }
    .advantages__wrapper {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .advantages {
        &__item:first-child {
            margin-right: 45px;
        }
        &__item:last-child {
            margin-top: 30px;
        }
    }
    .consultation {
        padding-top: 50px;
        padding-bottom: 40px;
        &__subheader {
            font-size: 24px;
        }
        &__descr {
            font-size: 18px;
            margin-top: 52px;
        }
    }
    .carousel-ts {
        width: 100vw;
        button.prev {
            display: none;
        }
        .prev, .next {
            display: none; 
        }
    }
    
}

@media (max-width: 575px) {
    .header {
        &__contact {
            margin-top: 25px;
        }
        &_btn {
            margin-top: 20px;
        }
    }
    .promo {
        &__header {
            font-size: 30px;
            margin: 0 auto;
        }
        &__subheader {
            font-size: 19px;
            margin: 17px auto 0 auto;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__item:first-child {
            margin-right: 0;
        }
        &__item:nth-child(2) {
            margin-top: 30px;
        }
    }
}

@media (max-width: 460px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .promo {
        padding-bottom: 50px;
        &__header {
            font-size: 23px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            margin-top: 50px;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__item:nth-child(2) {
            margin-top: 30px;
        }
        &__item:last-child {
            margin-top: 30px;
        }
        &__descr {
            margin-top: 13px;
        }
        &_btn {
            margin: 50px auto 0;
            width: 280px;
        }
    }
    .advantages {
        padding-bottom: 50px;
        &__subheader {
            font-size: 23px;
        }
    }
}

@media (max-width: 360px) {
    .promo {
        &_btn {
            margin: 50px auto 0;
            width: 280px;
        }
    }
    .advantages {
        &__subheader {
            font-size: 23px;
        }
    }
    .consultation {
        &__subheader {
            font-size: 18px;
        }
        &__descr {
            font-size: 16px;
        }
    }
    .form__feed {
        width: 260px;
    }
}