.button {
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    transition: all .4s;
    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: 2px 2px 20px #ffffff;
        transform: scale(1.02);
    }
}
.header_btn {
    width: 150px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;  
}
.promo_btn {
    margin-top: 67px;
    width: 300px;
    height: 50px;
    font-size: 16px;
}
.consultation_btn {
    height: 55px;
}
.card_btn {
    width: 131px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    background-color: $main-color;
    &:hover {
        box-shadow: 2px 2px 20px $main-color;
        transform: scale(1.02);
    }
}