.card {
    overflow: hidden;
    width: 300px;
    min-height: 440px;
    border: solid 2px #e8e8e8;
    padding: 20px 20px 26px;
    &__img {
        height: 200px;
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 20px;
        font-size: 16px;
    }
    &__descr {
        margin-top: 16px;
    }
    &__link {
        display: flex;
        justify-content: center;
    }
    &__link > a {
        margin-top: 17px;
        border-bottom: 1px solid $main-color;
        font-size: 14px;
        line-height: .9;
        font-weight: 500;
        text-align: center;
        color: $main-color;
        &:hover {
            text-decoration: none;
            color: $main-color;
        }
    }
    hr {
        margin-top: 19px;
        margin-bottom: 21px;
        background-color: #e8e8e8;
        border-bottom: none;
    }
    &__prices {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__old-price {
        font-size: 14px;
        font-weight: 300;
        text-decoration: line-through;
        color: #555555;
    }
    &__price {
        font-size: 20px;
        font-weight: 700;
        color: #050505;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper {
        // calc вычисляет ширину по заданным параметрам
        width: calc(200% + 40px);
        display: flex;
    }
    &__content {
        width: 50%;
        margin-right: 0px;
        transform: translateX(-100%);
        transition: .5s all;
        &_active {
            transform: translateX(0%);
            margin-right: 20px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin-left: 20px;
        transform: translateX(0%);
        padding-right: 20px;
        transition: .5s all;
        &_active {
            transform: translateX(-100%);
            margin-left: 0px;
        }
    }
    &__back {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 19px;
        li {
            position: relative;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            text-align: left;
            color: #555555;
            margin-bottom: 20px;
            &:before {
                content: '';
                width: 5px;
                height: 5px;
                background-color: $main-color;
                position: absolute;
                left: -14px;
                top: 7px;
            }
        }
    }
}