.feedback {
    padding-bottom: 71px;
    &__wrapper {
        margin-top: 70px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 62px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-align: left;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
        color: #0d0d0d;
        span {
            font-size: 14px;
            color: #646464;
        }
    }
    hr {
        border-bottom: none;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #f6f6f6;
    }
}